body{
    /* background-image: url("images/image\ copy\ 16.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.outeer1{
    background-color:rgba(127, 255, 212, 0.514);
    text-align: center;
    font-size: 30px;

    border:3px solid black;
    border-radius: 20px;
    
    ;
    
    width:80%;
    margin:auto;
margin-bottom: 10px;

}
.outeer2{
    background-color:rgba(127, 255, 136, 0.51);
    text-align: center;
    font-size: 30px;

     border:3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
     width:80%;
    margin:auto;
margin-bottom: 10px;
    ;
}
.outeer3{
    background-color:rgba(212, 252, 67, 0.55);
    text-align: center;
    font-size: 30px;

     border:3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    ; width:80%;
    margin:auto;
margin-bottom: 10px;
}
.outeer4{
    background-color:rgba(67, 153, 252, 0.525);
    text-align: center;
    font-size: 30px;

     border:3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
     width:80%;
    margin:auto;
margin-bottom: 10px;
    ;
}
.outeer5{
    background-color:rgba(232, 110, 243, 0.51);
    text-align: center;
    font-size: 30px;

     border:3px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
     width:80%;
    margin:auto;
margin-bottom: 10px;
    ;
}
.outeer6{
    /* background-color:rgba(251, 123, 172, 0.711); */
    text-align: center;
    font-size: 40px;

     /* border:3px solid black; */
    border-radius: 20px;
    margin-bottom: 10px;
     width:80%;
    margin:auto;
margin-bottom: 10px;
font-weight: bold;
color:white;

text-shadow: 1px 1px red;
font-style:italic;


    ;
}
body{
    background-image:url("images/image\ copy\ 16.png")
    ;
      background-repeat: no-repeat;
    background-size: cover;

}


.in1{
    text-align: center;
    position: relative;
    /* top:10px; */
    font-family: cursive;
    font-size:40px;
    /* text-shadow:px 2px rgb(134, 252, 252); */
    background-color: rgba(56, 80, 151, 0.407);
    height:110px;
    display: fixed;
    border-radius: 20px;
    /* width:50%; */
    margin: auto;
    /* width:90% */

    font-weight: 900;
    ;
    /* background-image: url("images/image\ copy\ 11.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-bottom: 5px solid black;
    position: relative;
    top:-8px;

    animation-name:colorchange;
    animation-iteration-count: infinite;

    animation-duration: 10s;


    animation-delay: 5sec;



}
@keyframes colorchange{
    0%{
        /* background-color:rgba(186, 251, 186, 0.548) */
        /* opacity: 50%; */
        /* border:blue; */
        /* color:rgb(0, 0, 0); */
         /* font-size:45px; */
        /* text-shadow:2px 2px black; */

        
        font-weight:bold;
        /* box-shadow:10px red; */


        color:rgb(255, 0, 0);
         font-size:45px;

          text-shadow:2px 2px black;
        /* text-shadow:2px 2px lightgreen; */

    }
    30%{
        /* background-color: rgba(232, 239, 86, 0.548); */
         color:white;
         /* font-size:60px; */
         font-size:60px;
          text-shadow:2px 2px rgba(255, 0, 0, 0.956)  ;

    }

    60%{
        /* background-color: rgb(235, 157, 148); */
         /* color:rgb(255, 43, 255);
         font-size:45px;
          text-shadow:2px 2px rgb(0, 0, 0); */

         color:rgb(255, 0, 0);
         font-size:45px;

          text-shadow:2px 2px black;

    }
    80%{
          /* color:darkgoldenrod;
         font-size:60px;

          text-shadow:2px 2px black; */

            color:black;
         /* font-size:60px; */
         font-size:60px;
          text-shadow:2px 2px rgba(255, 0, 0, 0.956)  
    }
    100%{
         /* background-color: rgb(230, 151, 236); */
         /* color:darkred;
         font-size:45px;

          text-shadow:2px 2px black; */


         color:rgb(255, 0, 0);
         font-size:45px;

          text-shadow:2px 2px black;
      /* from{
        background-color: blue;

     }
     to{
        /* background-color: yellow;/* */

}
}
/* .in1:hover{

    background-image:url("images/image.png");
    background-repeat: no-repeat;
    background-size: cover;


} */



.out2{
    display: flex;
    font-size:25px;
    justify-content: space-around;
    width: 70%;
    margin:auto;
    /* margin-top:10px; */
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius:20px;
    text-shadow:2px 2px  red;
    color:white;


    /* background-image: url("images/image\ copy\ 6.png"); */
   background-color: rgba(56, 80, 151, 0.407);
    background-repeat: no-repeat;
    background-size: cover;
    height:40px;
    padding-top:10px;
    margin-top:-8px;

      animation-name:boxmotion;
    animation-iteration-count: infinite;

    animation-duration: 5s;
    








}

a{
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px black;
    opacity: 80%;



}
a:hover{
    color:blueviolet;
    text-shadow: 1px 1px black;
    font-size:27px;

}
.in{
    /* background-image:url("images/image2.png"); */
    border-radius: 20px;
    height:30px;
    padding:3px;
    font-weight: bold;
    background-size: cover;
    background-position: bottom;




    text-shadow:0.5px 0.5px white;
    padding-left:10px;
    padding-right: 10px;
    cursor: pointer;
}
.in:hover{
    color:blueviolet;

}

