.footer{
    background-color: antiquewhite;
    height:120px;
    width:100%;
    position: relative;
    bottom:-2px;
    border:2px solid maroon;
    border-radius: 10px;

    font-size:15px;

    


    
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    

}
.f1{
    display: flex;

    justify-content: space-evenly;

}