

.outer{
    height:550px;
    width:500px;
    background-color: antiquewhite;

    border-radius: 20px;
    margin:auto;
    margin-top: 80px;
    /* border:2px solid black; */
   

background-color: rgba(69, 122, 192, 0.704);
    background-size: cover;
    /* box-shadow: 8px 8px brown; */


}
#head{
    text-align: center;
    position: relative;
    /* top:10px; */
    font-family: cursive;
    font-size:50px;
    text-shadow:2px 2px red;



}
hr{
    font-weight: bold;
    border-color: black;


}
form{
    margin-left:30px;

    font-size: 20px;
    margin-top:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;



}
#s1h{
    color:rgba(127, 255, 212, 0.789);
    /* margin-right:50px; */
    margin-bottom: 20px;
    font-size: 22px;
    text-shadow: 0.5px 0.5px black;



}
input{
    font-size: 18px;
    
    text-align: center;
    color:rgb(6, 6, 6);
    background-color:rgb(219, 213, 246);
    border-radius: 10px;
    margin-left:10px;
    height:25px;
    




}
.inner2{
 
    font-weight: bold;
    font-size: 30px;
    color:rgba(0, 0, 0, 0.814);
    margin-bottom:20px;
    text-align: center;
    text-shadow: 1px 1px rgb(147, 135, 58);


}
.b1{
    width: 100px;
    height:30px;
    text-align: center;

    background-color: rgba(243, 243, 134, 0.631);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border:2px solid rgb(55, 39, 39);
    margin-top: 20px;
}
.inner3{
    font-size:medium;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color:black;


}
.inner4{
    display: flex;
    flex-direction: row;
    height:40px;

    
    width:400px;
    margin-top: 20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    padding:0px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;

    margin-left: 30px;
    background-color: rgba(245, 245, 220, 0.79);





}
#google{
    display: inline-block;
   
    margin-left: 10px;
    font-size: 18px;


}
body{
    background-image:url("images/image\ copy\ 12.png")

}


.in1{
    text-align: center;
    position: relative;
    /* top:10px; */
    font-family: cursive;
    font-size:40px;
    /* text-shadow:px 2px rgb(134, 252, 252); */
    background-color: rgba(56, 80, 151, 0.407);
    height:110px;
    display: fixed;
    border-radius: 20px;
    /* width:50%; */
    margin: auto;
    width:90%

    font-weight: 900;
    ;
    /* background-image: url("images/image\ copy\ 11.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-bottom: 5px solid black;
    position: relative;
    top:-8px;

    animation-name:colorchange;
    animation-iteration-count: infinite;

    animation-duration: 10s;


    animation-delay: 5sec;



}
@keyframes colorchange{
    0%{
        /* background-color:rgba(186, 251, 186, 0.548) */
        /* opacity: 50%; */
        /* border:blue; */
        /* color:rgb(0, 0, 0); */
         /* font-size:45px; */
        /* text-shadow:2px 2px black; */

        
        font-weight:bold;
        /* box-shadow:10px red; */


        color:rgb(255, 0, 0);
         font-size:45px;

          text-shadow:2px 2px black;
        /* text-shadow:2px 2px lightgreen; */

    }
    30%{
        /* background-color: rgba(232, 239, 86, 0.548); */
         color:white;
         /* font-size:60px; */
         font-size:60px;
          text-shadow:2px 2px rgba(255, 0, 0, 0.956)  ;

    }

    60%{
        /* background-color: rgb(235, 157, 148); */
         /* color:rgb(255, 43, 255);
         font-size:45px;
          text-shadow:2px 2px rgb(0, 0, 0); */

         color:rgb(255, 0, 0);
         font-size:45px;

          text-shadow:2px 2px black;

    }
    80%{
          /* color:darkgoldenrod;
         font-size:60px;

          text-shadow:2px 2px black; */

            color:black;
         /* font-size:60px; */
         font-size:60px;
          text-shadow:2px 2px rgba(255, 0, 0, 0.956)  
    }
    100%{
         /* background-color: rgb(230, 151, 236); */
         /* color:darkred;
         font-size:45px;

          text-shadow:2px 2px black; */


         color:rgb(255, 0, 0);
         font-size:45px;

          text-shadow:2px 2px black;
      /* from{
        background-color: blue;

     }
     to{
        /* background-color: yellow;/* */

}
}
/* .in1:hover{

    background-image:url("images/image.png");
    background-repeat: no-repeat;
    background-size: cover;


} */



.out2{
    display: flex;
    font-size:25px;
    justify-content: space-around;
    width: 70%;
    margin:auto;
    /* margin-top:10px; */
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius:20px;
    text-shadow:2px 2px  red;
    color:white;


    /* background-image: url("images/image\ copy\ 6.png"); */
   background-color: rgba(56, 80, 151, 0.407);
    background-repeat: no-repeat;
    background-size: cover;
    height:40px;
    padding-top:10px;
    margin-top:-8px;

      animation-name:boxmotion;
    animation-iteration-count: infinite;

    animation-duration: 5s;
    








}

a{
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px black;
    opacity: 80%;



}
a:hover{
    color:blueviolet;
    text-shadow: 1px 1px black;
    font-size:27px;

}
.in{
    /* background-image:url("images/image2.png"); */
    border-radius: 20px;
    height:30px;
    padding:3px;
    font-weight: bold;
    background-size: cover;
    background-position: bottom;
    




    text-shadow:0.5px 0.5px white;
    padding-left:10px;
    padding-right: 10px;
    cursor: pointer;
}
.in:hover{
    color:blueviolet;

}