
.ss{
    margin-top:22px;
    display: flex;
    ;
    margin-left:20px;


}


.imgg{
    height:29px;
    width:30px;
    background-color: ;
    border:1px solid black;
    display:inline-block;
    /* background-image: url("images/image\ copy\ 18.png");; */



}

input{
    height:30px;

    display: inline-block;
    border:1px solid black
    ;
    background-color: beige;
    
    


}
.nn3{
display: inline-block;
margin-left:30px;
font-size: 30px;
height:25px;



}


select{
    font-size: 22px;
    margin-top: 23px;
       background-color: beige;
    border-radius: 30px;
}
.m1{
    display: flex;
    text-align: center;

}
.nn1{
    font-size: 25px;
    margin-top: 0px;
    margin-left:100px;
    margin-right: 10px;
    color:rgb(127, 157, 255);


}
